* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  color: #444;
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 26px;
  text-transform: capitalize;
  font-style: italic;
  float: left;
  color: #109ba0;
}

h2 {
  font-size: 40px;
  margin-bottom: 50px;
}

h2::after {
  content: "Trending ☕";
  background-color: #109ba0;
  color: #f7f7f7;
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
  padding: 5px 10px;
  margin-left: 30px;
  margin-top: 14px;
  border-radius: 3px;
}

h3 {
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

#author {
  font-style: italic;
  font-size: 18px;
}

.related {
  margin-left: 0;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related-posts {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px;
  height: 40px;
  margin-top: 30px;
  border-radius: 3px;
}
aside {
  background-color: #f7f7f7;
  padding: 50px 0px;
  border-radius: 3px;
}

a:link {
  color: #109ba0;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 30px;
  display: inline-block;
}

.seperator {
  margin-right: 30px;
  margin-left: 0px;
}

a:visited {
  color: #109ba0;
}

a:hover {
  color: #13bec4;
  font-weight: bold;
  text-decoration: underline wavy blue;
}

a:active {
  background-color: black;
  font-style: italic;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

.post-img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* RTL styles */
[dir="rtl"] body {
  font-family: "Readex Pro";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

[dir="rtl"] a:link {
  margin-left: 30px;
  margin-right: 0px;
}

[dir="rtl"] nav a:link {
  margin-left: 30px;
  margin-right: 0px;
}

[dir="rtl"] nav a:link:last-child {
  margin-left: 0px;
}

[dir="rtl"] .language-nav a:link:last-child {
  margin-left: 0px;
}

[dir="rtl"] h1::first-letter {
  margin-left: 0px;
}

[dir="rtl"] h2::after {
  margin-left: 0px;
  margin-right: 30px;
}

[dir="rtl"] .reactions {
  right: auto;
  left: 50px;
}

[dir="rtl"] .seperator {
  margin-right: 0px;
  margin-left: 30px;
}

footer p {
  font-size: 10px;
}

.reactions {
  position: absolute;
  bottom: 0;
  right: 0;
}

[dir="rtl"] .author {
  float: right;
  margin-right: 10px;
  margin-top: 20px;
}

[dir="rtl"] .related {
  margin-right: 0;
}

[dir="rtl"] .author-img {
  float: right;
  margin-bottom: 20px;
}

[dir="rtl"] h1 {
  float: right;
}

[dir="rtl"] .nav-content {
  float: left;
}

[dir="rtl"] .main-nav {
  float: right;
}

[dir="rtl"] .language-nav {
  float: left;
  margin-right: 60px;
}

[dir="rtl"] article {
  float: right;
}

[dir="rtl"] aside {
  float: left;
  padding: 50px 40px;
}

/* Floats */

/* .author {
  float: left;
  margin-left: 10px;
  margin-top: 20px;
}
.author-img {
  float: left;
  margin-bottom: 20px;
}

.nav-content {
  float: right;
}

.main-nav {
  float: left;
}

.language-nav {
  float: right;
  margin-left: 60px;
}

.main-header::after {
  content: "";
  display: block;
  clear: both;
}

article {
  width: 825px;
  float: left;
}

aside {
  width: 300px;
  float: right;
  top: 20px;
  padding: 50px 40px;
  box-sizing: border-box;
  position: sticky;
}

footer {
  clear: both;
} */

/* Flex box */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-content {
  display: flex;
  gap: 60px;
}

.author {
  margin-bottom: 0;
}
.author-content {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.related-posts {
  display: flex;
  gap: 15px;
  align-items: center;
}

.related-author {
  margin-bottom: 0;
  font-weight: normal;
  font-style: normal;
  margin-top: 5px;
  font-size: 16px;
}

.related-link {
  font-size: 20px;
  font-weight: normal;
  font-style: bold;
}

aside {
  flex: 0 0 350;
}

/* Grid */

.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  align-items: start;
  column-gap: 75px;
  row-gap: 60px;
}

.main-header {
  grid-column: 1/-1;
}

.footer {
  grid-column: 1/-1;
}
