* {
  font-family: sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.container {
  border: 2px solid;
  width: 770px;
  padding: 20px;
  border-radius: 3px;
  margin: 0 auto;
  position: relative;
}

.course {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #0039fe;
  background-color: transparent;
  color: #0039fe;
  padding: 10px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  margin-top: 20px;
}

.course-sale {
  position: absolute;
  top: -10;
  left: -30;
  background-color: red;
  padding: 5px 10px;
  border-radius: 3px;
  letter-spacing: 2px;
  rotate: -30deg;
}

.course-img {
  border-radius: 3px;
  width: 100%;
  height: auto;
  /* margin-bottom: 0px; */
}

.price {
  font-size: 24px;
  margin-bottom: 5px;
}

.road-map-title {
  margin: 20px 0 5px;
}

.road-map-sections {
  border: 2px black solid;
  padding: 5px 10px;
  border-radius: 3px;
}

.html-course {
  border-color: orange;
}

.css-course {
  border-color: blue;
}

.JS-course {
  border-color: yellow;
}

.course-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: gray;
  /* margin-bottom: 5px; */
}

.course-details-button:link,
.course-details-button:visited {
  color: black;
  font-weight: 100;
}

.course-details-button:hover,
.course-details-button:active {
  text-decoration: none;
}

.course-description {
  font-size: 16px;
  text-transform: capitalize;
  margin: 20px 0px 5px;
  margin-top: 0px;
}

.list {
  list-style: square;
  font-size: 16px;
  margin: 0 0 20px 20px;
}

.btn {
  border: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #0039fe;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  /* margin-top: 20px; */
}

.btn:hover {
  background-color: #4777ff;
}

/* .div-body::after {
  content: "";
  clear: both;
  display: block;
} */

/* .div-float:first-child {
  padding-right: 30px;
}

.div-float {
  float: left;
  width: 240px;
} */

.div-body {
  display: flex;
  gap: 20px;
}

.div-column {
  flex: 1;
}

.course {
  border-radius: 3px solid #0039fe;
}

.roadmap-list {
  display: flex;
  gap: 5px;
  list-style: none;
}

/* CSS Grid */

.container {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
}

.course,
.btn {
  grid-column: 1/-1;
}
